/* Base == */

:root {
    /* Global Values*/
    --main-br-radius: 7px;
    --main-br-radius-x2: 14px;

    /* Colours */
    --main: #202030;
    --secondary: #39304A;
    --accent: #ffd700;
    --accent-secondary: #A1869E;
    --white: #F2F4F3;
}

*, *::before, *::after {
    text-decoration: none;
    box-sizing: border-box !important;
    color: var(--white);
    
}

body {
    font-family: Arial;
    margin: 0; padding: 0;
    background-color: var(--main);
}

.main {
    margin-top: 4em;
    min-height: calc(100vh - 4em);
}

a {
    background-color: blueviolet;
    padding: 0.5em;
    border-radius: var(--main-br-radius);
    transition: all 0.3s ease-in-out;
}

img { border-radius: var(--main-br-radius-x2); }



/* CLASSES */

.flex { display: flex; justify-content: space-between; }

.center { text-align: center; }
