:root {
    /* Global Values*/
    --main-br-radius: 7px;

    /* Colours */
    --main-element: gray;
    --accent: #ffd700;
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: black;
}

.main {
    margin-top: 4em;
}

a {
    background-color: blueviolet;
    padding: 0.5em;
    border-radius: var(--main-br-radius);
    transition: all 0.3s ease-in-out;
}