.welcome {
    display: flex;
    width: 90vw !important;
}

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left img {
    height: 100%; /* Image maintains height of parent */
    width: auto; /* Ensures the div only takes up as much space as the image */
    object-fit: contain; /* Ensures the entire image is visible */
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 7em;
  }